@page "/"
@using ZooKeeper_Blazor;

<style>

    button {
        width: 75px;
        height: 75px;
        font-size: 50px;
    }

        button.sm {
            display: inline-flex;
            width: 50px;
            height: 50px;
            justify-content: center;
            align-items: center;
            font-size: 30px;
        }
</style>

<div class="container">

    <div class="row">
        <div class="col-6">
            <h1 style="text-align:end">Next Direction:@direction</h1>

            @code
            {
                string direction => Game.direction;
            }
        </div>
    </div>

    <div class="row">
        <div class="col">
            <hr />
        </div>
    </div>


    <div class="row">
        <div class="col-6">
            <h1 style="text-align:end">Score :@totalScore</h1>

            @code
            {
                string totalScore => Game.totalScore.ToString();
            }
        </div>
    </div>

    <div class="row">
        <div class="col">
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <h1 style="text-align:end">Add Animal to Holding:</h1>
        </div>
        <div class="col-1">
            <button @onclick="@(() => Game.AddAnimalToHolding("cat"))"
                    type="button" class="sm btn btn-outline-dark">
                <h2>🐱</h2>
            </button>
        </div>
        <div class="col-1">
            <button @onclick="@(() => Game.AddAnimalToHolding("mouse"))"
                    type="button" class="sm btn btn-outline-dark">
                <h2>🐭</h2>
            </button>
        </div>
        <div class="col-1">
            <button @onclick="@(() => Game.AddAnimalToHolding("raptor"))"
                    type="button" class="sm btn btn-outline-dark">
                <h2>🦅</h2>
            </button>
        </div>
        <div class="col-1">
            <button @onclick="@(() => Game.AddAnimalToHolding("chick"))"
                    type="button" class="sm btn btn-outline-dark">
                <h2>🐥</h2>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h1 style="text-align:end">Holding Pen:</h1>
        </div><div class="col-6">
            <button disabled type="button" class="btn btn-outline-dark">
                <h2>@Game.holdingPen.emoji<sup>@Game.holdingPen.rtLabel</sup></h2>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table align="center">
                @for (var y = 0; y < Game.numCellsY; y++)
                {
                    <tr>
                        @for (var x = 0; x < Game.numCellsX; x++)
                        {
                            var a = Game.animalZones[y][x];
                            <td>
                                <button @onclick="@(() => Game.ZoneClick(a))"
                                        type="button" class="btn btn-outline-dark">
                                    <h2>@a.emoji<sup>@a.rtLabel</sup></h2>
                                </button>
                            </td>
                        }
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        Game.SetUpGame();
    }
}


